@model Student

<h2>Student Details</h2>

<table>
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Course</th>
        <td>@Model.Course</td>
    </tr>
</table>
<a href="/" class="button">Back To List</a>
